*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shard style */ 

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none; 
    background-color:#30B868;
    color: #FFFFFF;
}

nav{
    max-width:1600px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 1px;
    padding: 16px 120px;
    color: #FFFFFF;

}

nav .manu{
    display: flex;
    list-style: none;
    gap: 68px;
    align-items: center;
}

nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    max-width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
    gap: 140px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
 
}

#banner .banner-content{
width: 1360px;
height: 379px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
}





#banner .banner-content h6{
width: 229px;
height: 35px;
display: flex;
justify-content: center;
align-items: center;
gap: 6px;
padding: 8px 12px;
border-radius: 1000px;
color: #30B868;
background-color: #FFFFFF;


}

#banner .banner-content h1{
    font-weight: 700px;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}

#banner .banner-content span{
    font-weight: 700px;
    font-size: 72px;
    line-height: 84px;
    color: #30B868;
}

#banner .banner-content .text{
    width: 1360px;
    height: 60px;
}

#banner .banner-content .text p{
    font-weight: 400;
    font-size: 10px;
    line-height:18px;
    color: #FFFFFF;
    text-align: center;
    

}

.button{
    display: flex;
    gap: 30px;
}


.container {
    max-width: 1600px;
    margin-top: 20px;
}

   .container .hading {
    width: 1360px;
    height: 152px;
    margin: 0 120px 44px 120px;
    text-align: center;
    line-height: 50px;
}


.container .hading h1 {
    font-weight: 700;
    font-size: 48px;
    color: #001931;
    
}



 .container .hading p {
    font-weight: 400;
    font-size: 10px;
    line-height:20px;
    color:#627382;
    
    
}



.box-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    max-width: 1360px;
    margin: 44px 120px 120px 120px; 
    padding: 24px;
}

.card {
    background:azure;
    border-radius: 8px;
    padding: 24px 24px;
    text-align: center;
    width: 322px;
    height: 300px;
}

.icon {
    width: 48px;
    height: 48px;
    margin: 0 auto 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card h3 {
    font-size: 24px;
    font-weight: 600;
    color:#001931;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    color: #6B7280;
    line-height: 20px;
}



.icon-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}


.icon-box img {
    width: 60px; 
    height: 60px;
    background-color:rgba(249, 85, 85, 1);
    border-radius: 50px;
}

.second-brain .second-brain-container {
    width: 1360px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 60;
    justify-content: space-between;
    margin: 0 auto;
    gap: 60px;
    
}

.second-brain-content .tag {
    color: #30b86995;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    
}

.second-brain-content h2{
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 20px;
}

.second-brain-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.second-brain-content .feature-list{
    line-height: 32px;
    margin-top: 20px;
    list-style: none;
}

.Think .think-container{
    width: 1360px;
    height: 384px;
    padding: 80px 40px 80px 40px;
    background-color: #F7F6F2;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center;
    padding: 80px 40px;
}

.think-container h2{
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
    text-align: center;
    color: #001931;
    margin-bottom:30px;
}


.think-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #627382;
    margin-bottom: 20px;
}

.sub-text {
    font-size: 14px;
    color: #627382;
    margin-top: 20px;
}
 

footer{
    max-width: 1600px;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
.footer-container .footer-top{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 120px 120px 80px 120px;

}



.footer-social .list{
    display: flex;
    list-style: none; 
    gap: 16px;
}

.footer-social li{
    background-color: #FFFFFF;
    height: 20px;
    width: 20px;
    background-color: #F7F6F2;
    border-radius: 50px;
}

.footer-top .social-tex{
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;

}

.footer-container .footer-bottom{
    max-width: 1360px;
    margin: 80px 120px 30px 120px;
    
}

.footer-bottom .copy-right{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 80px;
    color: #E5E7EB;

}

.footer-bottom hr{
    border: 1px solid #E5E7EB;
    opacity: 20%;

}